@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
}

:root {
   --1px: 0.0658241179568194vw;
   --2px: -0.1316482359136388vw;
   --8px: 0.526592943654555vw;
   --10px: 0.6582411795681938vw;
   --12px: 0.7898894154818325vw;
   --15px: -0.9873617693522907vw;
   --16px: 1.05318588730911vw;
   --24px: 1.579778830963665vw;
   --28px: 1.843075302790943vw;
   --32px: 2.10637177461822vw;
   --33px: 2.172195892575039vw;
   --37px: 2.453264876250658vw;
   --45px: 2.962085308056872vw;
   --46px: 3.027909426013691vw;
   --48px: 3.15955766192733vw;
   --56px: 3.686150605581885vw;
   --60px: 3.949447077409163vw;
   --68px: 4.476040021063718vw;
   --80px: 5.26592943654555vw;
   --90px: 5.924170616113744vw;
   --96px: 6.31911532385466vw;
   --100px: 6.582411795681938vw;
   --114px: 7.503949447077409vw
   --137px: 9.017904160084255vw;
   --190px: 12.52830437072143vw;
   --218px: 14.34965771458662vw;
   --300px: 19.74723538704581vw;
   --317px: 20.86624539231174vw;
   --322px: 21.19536598209584vw;
   --343px: 22.61716692996314vw;
   --344px: 22.70142180094787vw;
   --397px: 26.17298578199052vw;
   --400px: 26.32964718272775vw;
   --432px: 28.43601895734597vw;
   --505px: 33.24117956819379vw;
   --512px: 33.70194839389152vw;
   --573px: 37.7172195892575vw;
   --579px: 38.11216429699842vw;
   --592px: 38.96787783043707vw;
   --611px: 40.231700895208vw;
   --627px: 41.28488678251711vw;
   --660px: 43.44391785150079vw;
   --679px: 44.69457609268036vw;
   --735px: 48.42680358083202vw;
   --843px: 55.49433912585571vw;
   --904px: 59.51092680358083vw;
}

body {
   background-color: black;
   color: white;
   font-family: 'Inter';
   font-weight: 400;
}

header {
   text-align: center;
   margin-top: var(--45px);
   margin-bottom: var(--15px);
}

.imgHeader {
   width: var(--218px);
   height: var(--80px);
}

.sec1 {
   height: var(--843px);
}

.primeiraSec {
   background-image: url('../imagens/fundoPag1.png');
   background-size: var(--904px) var(--679px);
   background-position: right;
   background-repeat: no-repeat;
   width: 100%;
   height: var(--735px);
   position: static;
}

.content1 {
   font-size: var(--28px);
   font-weight: 700;
   text-align: center;
   padding: var(--32px);
   margin-bottom: var(--2px);
}

.secLeft {
   margin-left:var(--96px);
   width: var(--660px);
   height: var(--432px);
   position: relative;
   padding-top: var(--68px);
}

.imgSec1 {
   width: var(--660px);
   height: var(--137px);
}

.botõesSec1 {
   width: var(--512px);
   height: var(--56px);
   border-radius: var(--8px);
   font-size: var(--16px);
   color: white;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   font-weight: 400;
}

.inp1 {
   background-color: #009748;
   margin-top: var(--46px);
   margin-bottom: var(--16px);
}

.inp2 {
   border: var(--1px) solid white;
   margin-bottom: var(--10px);
}

.textSec1 {
   font-size: var(--12px);
   color: #C0C0C0;
   text-align: center;
}

.sec2 {
   background-color: #222634;
   width: 100%;
   height: var(--843px);
   display: flex;
   justify-content: center;
}

.segundaSec {
   display: flex;
   justify-content: center;
   align-items: center;
}

.contentSec2 {
   width: var(--627px);
   height: var(--114px);
   margin-left: var(--37px);
}

.imgSec2 {
   width: var(--660px);
   height: var(--397px);
}

.tituloSec2 {
   font-size: var(--48px);
   font-weight: 700;
}

.textoSec2 {
   margin-top: var(--8px);
   font-size: 1.05318588730911vw;
   color: rgba(249, 249, 249, 0.8);
   font-weight: 400;
}

.sec3 {
   width: 100%;
   height: var(--904px);
   display: flex;
   justify-content: center;
   align-items: center;
}

.terceiraSec {
   display: flex;
   justify-content: center;
   align-items: center;
}

#img3 {
   width: var(--579px);
   height: var(--322px);
}

.contentSec3 {
   width: var(--573px);
   margin-right: var(--60px);
}

.textoSec3 {
   color: rgba(249, 249, 249, 0.8);
   text-align: center;
   font-size: var(--16px);
}

.sec4 {
   background-color: #222634;
   width: 100%;
   height: var(--904px);
   display: flex;
   justify-content: center;
}

.quartaSec {
   display: flex;
   justify-content: center;
   align-items: center;
}

.contentSec4 {
   width: var(--627px);
   height: var(--114px);
   margin-left: var(--37px);
}

.imgSec4 {
   width: var(--611px);
   height: var(--343px);
}

.tituloSec4 {
   font-size: var(--48px);
   font-weight: 700;
}

.textoSec4 {
   margin-top: var(--8px);
   font-size: var(--16px);
   color: rgba(249, 249, 249, 0.8);
   font-weight: 400;
}

.sec5 {
   width: 100%;
   height: var(--904px);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 700;
}

.quintaSec {
   display: grid;
   grid-template-rows: var(--100px) var(--300px);
}

.contentSec5 {
   display: grid;
   grid-template-columns: var(--400px) var(--400px) var(--400px) ;
   gap: var(--90px);
   font-size: var(--32px);
}

.titleSec5 {
   font-size: var(--48px);
}

.img1Sec5 {
   width: var(--344px);
   height: var(--190px);
}

.img2Sec5 {
   width: var(--344px);
   height: var(--190px);
}

.img3Sec5 {
   width: var(--344px);
   height: var(--190px);
}

.sec6 {
   width: 100%;
   height: var(--592px);
   background-color: #222634;
   display: flex;
   justify-content: center;
   align-items: center;
}

.titleSec6 {
   font-size: var(--32px);
   font-weight: 700;
   text-align: center;
   margin-bottom: var(--33px);
}

form {
   width: var(--505px);
   height: var((--317px))
}

.inp6 {
   background-color: #009748;
   margin-top: var(--24px);
   width: var(--512px);
   height: var(--56px);
   border: var(--1px) solid white;;
}

.textInpSec6 {
   width: 33.24117956819379vw;
   height: 3.686150605581885vw;
   border-radius: 1.05318588730911vw;
   text-align: center;
   font-size: 1.05318588730911vw;
   background-color: #2E3447;
   border: 0.0008241179568194vw solid white;
   margin-bottom: 1.250658241179568vw;
   color: white;
}

.textarea {
   width: 33.24117956819379vw;
   height: 10.8609794628752vw;
   border-radius: 1.05318588730911vw;
   text-align: center;
   font-size: 1.184834123222749vw;
   background-color: #2E3447;
   border: 0.0358241179568194vw solid white;
   padding-top: 1.119010005265929vw;
   color: white;
}

.textarea::placeholder {
   font-family: 'Inter';
}

footer {
   width: 100%;
   height: 17.11427066877304vw;
   background-color: #222634;
   padding-top: 8.503949447077409vw;
   text-align: center;
}

a {
   text-decoration: none;
   color: white;
   padding: 0px 0.6582411795681938vw;
}

.logoFooter {
   margin-bottom: 3.19246972090574vw;
   width: 14.34965771458662vw;
   height: 5.26592943654555vw;
}

.linksFooter {
   margin-bottom: 1.579778830963665vw;
   font-size: 1.05vw;

}

.texto1Footer {
   font-size: 0.9215376513954713vw;
   color: #C0C0C0;
   margin-bottom: 1.448130595050026vw;
}

.texto2Footer {
   font-size: 0.9215376513954713vw;
   color: #C0C0C0;
   margin-bottom: 1.448130595050026vw;
}